<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" data-modal-close class="modal-close">
      <svg class="cross" width="14" height="14">
        <use href="../img/close/close-defs.svg#-icon-close"></use>
      </svg>
    </button>
    <h3 class="title"><span class="title buy">Buy</span>Now</h3>
    <ul class="card-set-modal">
      <li class="card-list">
       
        <button type="button" class="grams">100g</button>
      </li>
      <li class="card-list">
    
        <button type="button" class="grams">200g</button>
      </li>
      <li class="card-list">
      
        <button type="button" class="grams">300g</button>
      </li>
    </ul>
    <form class="form">
      <label>
        <div class="modal-input">
          <span class="form subtitle">Personal information</span>
          <input
            type="text"
            class="form inputs"
            name="first-name"
            placeholder="Name"
            pattern="[A-Z],[a-z]"
            required
          />
          <input
            type="text"
            class="form inputs"
            name="last-name"
            placeholder="Surname"
            pattern="[A-Z],[a-z]"
            required
          />
        </div>
      </label>
      <label>
        <div class="modal-input">
          <span class="form subtitle">E-mail</span>
           <div class="modal-input">
          <input
            type="text"
            class="form input"
            name="Email"
            placeholder="E-mail"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            required
          />
        </div>
      </label>
      <label>
         <div class="modal-input">
          <span class="form subtitle">Phone number</span>
           <div class="modal-input">
          <input
            type="text"
            class="form input"
            name="telephone"
            placeholder="Phone number"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            required
          />
          <svg class="modal-icon">
              <use></use>
            </svg>
            <span>+380</span>
        </div>
       <label>
         <div class="modal-input">
          <span class="form subtitle">Card number</span>
           <div class="modal-input">
          <input
            type="text"
            class="form input"
            name="telephone"
            placeholder="Enter card"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            required
          />
            <svg class="modal-icon">
              <use></use>
            </svg>
        </div>
      <label>
        <span class="form subtitle">Comment</span>
        <div class="modal-input-area">
          <textarea
            name="comment"
            cols="30"
            rows="10"
            class="text-area comment"
            placeholder="Enter text"
          ></textarea>
        </div>
      </label>
      <div class="modal-bttn">
        <button type="submit" class="modal-button">Submit</button>
      </div>
    </form>
  </div>
</div>
