<div class="modal buy-now" data-modal="1">
  <svg class="buy-now-close js-modal-close">
    <use href="./img/icons.svg#close"></use>
  </svg>
  <div class="buy-modal-inner">
    <h2 class="title buy-modal__title">
      <span class="title-decor">bUY</span> nOW
    </h2>
    <ul class="buy-modal__list">
      <li class="buy-modal__item">
        <div class="item__inner">
          <img
            class="buy-modal__img"
            src="./img/buy-modal/chocolate-1.png"
            alt="Chocolate"
          />
          <span class="buy-modal__amount">100 g</span>
        </div>
      </li>
      <li class="buy-modal__item">
        <div class="item__inner">
          <img
            class="buy-modal__img"
            src="./img/buy-modal/chocolate-2.png"
            alt="Chocolate"
          />
          <span class="buy-modal__amount">200 g</span>
        </div>
      </li>
      <li class="buy-modal__item">
        <div class="item__inner">
          <img
            class="buy-modal__img"
            src="./img/buy-modal/chocolate-3.png"
            alt="Chocolate"
          />
          <span class="buy-modal__amount">300 g</span>
        </div>
      </li>
    </ul>
    <form class="buy-modal__form">
      <label class="form__box">
        <span class="form__label">Personal information</span>
        <input class="form__input" name="name" placeholder="Name" type="text" />
        <input
          class="form__input"
          name="surname"
          placeholder="Surname"
          type="text"
        />
      </label>
      <label class="form__box">
        <span class="form__label">Email</span>
        <input
          class="form__input"
          name="email"
          placeholder="Enter your email"
          type="email"
        />
      </label>
      <label class="form__box">
        <span class="form__label">Phone number</span>
        <span class="label-box">
          <input
            class="form__input"
            name="num"
            placeholder="Phone number"
            type="tel"
          />
          <span class="label-decor">
            <svg class="label-decor__icon">
              <use href="./img/icons.svg#flag"></use>
            </svg>
            <span class="label-decor__text">+380</span>
          </span>
        </span>
      </label>
      <label class="form__box">
        <span class="form__label">Card number</span>
        <span class="label-box">
          <input
            class="form__input"
            name="card"
            placeholder="Enter card"
            type="text"
          />
          <span class="label-decor">
            <svg class="label-decor__icon">
              <use href="./img/icons.svg#card"></use>
            </svg>
          </span>
        </span>
      </label>
      <label class="form__box">
        <span class="form__label">Email</span>
        <textarea name="comment" placeholder="Enter text"></textarea>
      </label>
      <button type="submit" class="form__btn">Submit</button>
    </form>
  </div>
</div>
