<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" data-modal-close class="modal-close">
      <svg class="cross" width="14" height="14">
        <use href=""></use>
      </svg>
    </button>
    <h3 class="title"><span class="title buy">Buy</span>Now</h3>
    <ul class="card-set-modal">
      <li class="card-list">
        <svg class="card-chocolate" width="14" height="14">
          <use href="../img/chocolate/choco-one.svg"></use>
        </svg>
        <button type="button" class="grams">100g</button>
      </li>
      <li class="card-list">
        <svg class="card-chocolate" width="" height="">
          <use href="../img/chocolate/choco-two.svg"></use>
        </svg>
        <button type="button" class="grams">200g</button>
      </li>
      <li class="card-list">
        <svg class="card-chocolate">
          <use href="../img/chocolate/choco-three.svg"></use>
        </svg>
        <button type="button" class="grams">300g</button>
      </li>
    </ul>
    <form class="modal-form">
      <label class="form">
        <span class="form subtitle">Personal information</span>
        <div class="modal-input">
          <input type="text" class="form input" name="name" required />
          <textarea
            name="name"
            cols="30"
            rows="10"
            class="text-area name"
            placeholder="Name"
          ></textarea>
        </div>
        <div>
          <input type="text" class="form input" name="surname" required />
          <textarea
            name="surname"
            cols="30"
            rows="10"
            class="text-area surname"
            placeholder="Surname"
          ></textarea>
        </div>
      </label>
      <label class="modal-form">
        <span class="form subtitle">Email</span>
        <div class="modal-input">
          <input type="text" class="form input" name="email" required />
          <textarea
            name="email"
            cols="30"
            rows="10"
            class="text-area email"
            placeholder="Enter your email"
          ></textarea>
        </div>
      </label>
      <label class="modal-form">
        <span class="form subtitle">Phone number</span>
        <div class="modal-input">
          <input type="text" class="form input" name="telephone" required />
          <svg class="flag" width="32" height="24">
            <use href="../img/flag/flag.svg"></use>
          </svg>
          <span class="form numbers">+380</span>
          <textarea
            name="telephone"
            cols="30"
            rows="10"
            class="text-area phone"
            placeholder="Phone number"
          ></textarea>
        </div>
      </label>
      <label class="modal-form">
        <span class="form subtitle">Card number</span>
        <div class="modal-input">
          <input type="text" class="form input" name="card" required />
          <textarea
            name="card"
            cols="30"
            rows="10"
            class="text-area card"
            placeholder="Enter card"
          ></textarea>
          <svg class="card-logo" width="30" height="18">
            <use href="../img/flag/flag.svg"></use>
          </svg>
        </div>
      </label>
      <label class="modal-form">
        <span class="form subtitle">Comment</span>
        <div class="modal-input">
          <input type="text" class="form input" name="comment" required />
          <textarea
            name="comment"
            cols="30"
            rows="10"
            class="text-area comment"
            placeholder="Enter text"
          ></textarea>
        </div>
      </label>
      <div class="modal-bttn">
        <button type="submit" class="modal-button">Submit</button>
      </div>
    </form>
  </div>
</div>
