<div class="sub-modal modal" data-modal="3">
  <button
    type="button"
    aria-label="close button"
    class="js-modal-close sub-modal-btn"
  ></button>
  <div class="sub-modal-photo"></div>
  <h2 class="sub-modal-h2">
    EXPLORE OUR <br />
    <span class="sub-modal-span">NEW CHOCOLATE</span> FIRST!
  </h2>
  <div class="form-field">
    <div class="pos-form-icon">
      <input
        type="email"
        name="Email"
        id="Email"
        placeholder="Enter your email"
        class="form-input"
      />
      <button type="submit" class="coco-btn">Submit</button>
    </div>
  </div>
</div>
