<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-top">
      <h2 class="footer-title">
        <span class="title-decor">Chocolate </span> a delicious cure for a bad
        day
      </h2>
      <address class="footer-address">
        <div class="footer-contacts-box">
          <p class="footer-address-text">Contact us</p>
          <ul class="footer-contacts-list">
            <li class="footer-contacts-item">
              <a href="tel:+380684439426" class="footer-contacts-link">
                +380 (68) 443-94-26
              </a>
            </li>
            <li class="footer-contacts-item">
              <a
                href="mailto:simplychoc@gmail.com"
                class="footer-contacts-link"
              >
                simplychoc@gmail.com
              </a>
            </li>
          </ul>
        </div>
        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="instagram"
              class="footer-social-link"
            >
              <svg class="footer-social-icon" width="22" height="22">
                <use href="./img/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a
              href="https://twitter.com/?lang=ru"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="twitter"
              class="footer-social-link"
            >
              <svg class="footer-social-icon" width="22" height="22">
                <use href="./img/icons.svg#twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </address>
    </div>
    <ul class="footer-nav">
      <li class="footer-nav-item">
        <a href="#hero" class="footer-nav-link">Home</a>
      </li>
      <li class="footer-nav-item">
        <a href="#how" class="footer-nav-link">How it’s made?</a>
      </li>
      <li class="footer-nav-item">
        <a href="#products" class="footer-nav-link">Our products</a>
      </li>
      <li class="footer-nav-item">
        <a href="#sellers" class="footer-nav-link">Top sellers</a>
      </li>
      <li class="footer-nav-item">
        <a href="#review" class="footer-nav-link">Chocolate is loved</a>
      </li>
    </ul>
  </div>
</footer>
