<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="first-div">
        <p class="footer-title">
          Chocolate
          <span> a delicious cure for a bad day </span>
        </p>
      </div>
      <address class="address second-div">
        <div class="">
          <p class="footer-contact">Contact us</p>
          <ul class="contacts list">
            <li class="contacts-item item">
              <a href="tel:+380684439426" class="contacts-item">
                +380 (68) 443-94-26
              </a>
            </li>
            <li class="contacts-item item">
              <a href="mailto:simplychoc@gmail.com" class="contacts-item">
                simplychoc@gmail.com
              </a>
            </li>
          </ul>
        </div>

        <ul class="social-media list">
          <li class="social-media-list">
            <a href="" class="social-media-item">
              <svg class="icon" width="22" height="22">
                <use href="./img/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-media-list">
            <a href="" class="social-media-item">
              <svg class="icon" width="22" height="22">
                <use href="./img/icons.svg#twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </address>
    </div>
    <div class="third-div">
      <ul class="nav list">
        <li class="nav-list">Home</li>
        <li class="nav-list">How it’s made?</li>
        <li class="nav-list">Our products</li>
        <li class="nav-list">Top sellers</li>
        <li class="nav-list">Chocolate is loved</li>
      </ul>
    </div>
  </div>
</footer>
