<header class="header">
    <div class="container">
        <div class="header-container">
            <nav class="header-nav">
                <a class="logo" href="./header.html"> <span class="logo-one">simply</span> <span
                        class="logo-two">chocolate</span>
                    <svg class="header-logo-icon" width="14" height="17">
                        <use href="../img/icons.svg#icon-Vector-2"></use>
                    </svg>
                </a>
                <ul class="navilinks">
                    <li>
                        <a class="header-link" href="./hero.html">Home</a>
                    </li>
                    <li>
                        <a class="header-link" href="./how-made.html">How it's made?</a>
                    </li>
                    <li>
                        <a class="header-link" href="./our-products.html">Our products</a>
                    </li>
                    <li>
                        <a class="header-link" href="./top-sellers.html">Top sellers</a>
                    </li>
                    <li>
                        <a class="header-link" href="./advantages.html">Chocolate is loved</a>
                    </li>
                </ul>

                <div class="header-social-box">
                    <ul class="header-social-block">
                        <li class="header-social-row">
                            <a class="header-social-link" href="#">
                                <svg class="header-social-icon" width="20" height="20">
                                    <use href="../img/icons.svg#instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="header-social-row">
                            <a class="header-social-link" href="#">
                                <svg class="header-social-icon" width="20" height="20">
                                    <use href="../img/icons.svg#icon-twitter-1"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>
    </div>
</header>