<header class="header">
  <div class="container">
    <div class="header-container">
      <nav class="header-nav">
        <a class="logo" href="./header.html">
          <span class="logo-text">
            <span class="logo-one">simply</span>
            <span class="logo-two">chocolate</span>
          </span>
          <svg class="header-logo-icon" width="24" height="24">
            <use href="../img/icons.svg#logo"></use>
          </svg>
        </a>
        <ul class="nav-links">
          <li>
            <a class="header-link" href="#">Home</a>
          </li>
          <li>
            <a class="header-link" href="#hov">How it's made?</a>
          </li>
          <li>
            <a class="header-link" href="#products">Our products</a>
          </li>
          <li>
            <a class="header-link" href="">Top sellers</a>
          </li>
          <li>
            <a class="header-link" href="">Chocolate is loved</a>
          </li>
        </ul>

        <div class="header-social-box">
          <ul class="header-social-block">
            <li class="header-social-row">
              <a class="header-social-link" href="#">
                <svg class="header-social-icon" width="20" height="20">
                  <use href="./img/icons.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="header-social-row">
              <a class="header-social-link" href="#">
                <svg class="header-social-icon" width="20" height="20">
                  <use href="./img/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="burger">
          <button class="js-open-menu" type="button">
            <svg class="burger-icon" width="32" height="22">
              <use href="./img/icons.svg#burger"></use>
            </svg>
          </button>
        </div>
      </nav>
      <div class="menu js-menu-container">
        <button class="js-close-menu" type="button">
          <svg class="modal-icon" width="13.33px" height="13.33px">
            <use href="./img/icons.svg#icon-close"></use>
          </svg>
        </button>
        <div class="mobail-menu">
          <nav class="mobile-nav">
            <ul class="nav box">
              <li class="nav-row">
                <a class="mobile-link" href="./hero.html">Home</a>
              </li>

              <li class="nav-row">
                <a class="mobile-link" href="./how-made.html">How it's made</a>
              </li>
              <li class="nav-row">
                <a class="mobile-link" href="./our-products.html"
                  >Our products</a
                >
              </li>
              <li class="nav-row">
                <a class="mobile-link" href="./top-sellers.html">Top sellers</a>
              </li>
              <li class="nav-row">
                <a class="mobile-link" href="./advantages.html"
                  >Chocolate is loved</a
                >
              </li>
            </ul>
          </nav>
          <div class="mobile-social-box">
            <ul class="mobile-social-block">
              <li class="mobile-social-row">
                <a class="mobile-social-link" href="#">
                  <svg class="mobile-social-icon" width="20" height="20">
                    <use href="./img/icons.svg#instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="mobile-social-row">
                <a class="mobile-social-link" href="#">
                  <svg class="mobile-social-icon" width="20" height="20">
                    <use href="./img/icons.svg#twitter"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
