<div class="conteiner">
  <section class="hero-section">
    <h2 class="hero-text">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h2>

    <!-- ------buttons--------- -->
    <ul class="button-list">
      <li><button class="buy-button" type="button">Buy now</button></li>
      <li>
        <button class="how-its-made-button" type="button">How it’s made</button>
      </li>
      <li>
        <span class="scroll-place">
        <p class="scroll-down-text">scroll down</p>
        <button class="scroll-button" type="button">
          <svg width="13px" height="7px">
            <use href="../img/common/hero/scroll.svg#icon-scroll"></use>
          </svg>
        </button>
      </span>
      </li>
    </ul>
    <!-- ------buttons--------- -->
  </section>
</div>
