<section class="hero-section">
  <div class="main-container">
    <h2 class="hero-text">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h2>

    <!-- ------buttons--------- -->
    <ul class="button-list">
      <li>
        <button class="buy-button js-open-modal" data-modal="1" type="button">
          Buy now
        </button>
      </li>
      <li>
        <a href="#how" class="how-its-made-button" type="button">
          How it’s made
        </a>
      </li>

      <li class="scroll">
        <a id="scroll" class="scroll-place">
          <p class="scroll-down-text">scroll down</p>
          <button class="scroll-button" type="button">
            <svg class="svg-scroll" width="13px" height="7px">
              <use href="./img/icons.svg#icon-scroll"></use>
            </svg>
          </button>
        </a>
      </li>
    </ul>
  </div>
</section>
