<section class="section how-its-made-section">
  <div class="container how-its-made-container">
    <h2 class="title">hOW IT’S <span class="title-decor">made?</span></h2>
    <div class="how-its-made-content">
      <div class="container-video">
        <picture class="how-its-made-image">
          <source
            media="(min-width:768px) and (max-width: 1199px)"
            srcset="
              ./img/common/how-its-made/pastry-chef-preparing-chocolate-cake-614.jpg
            "
          />
          <source
            media="(min-width:1200px)"
            srcset="
              ./img/common/how-its-made/pastry-chef-preparing-chocolate-cake-600.jpg
            "
          />
          <img
            id="image"
            src="./img/common/how-its-made/pastry-chef-preparing-chocolate-cake-335.jpg"
            alt="Pastry chef preparing chocolate cake"
            style="width: auto"
          />
        </picture>
        <svg id="icon_play" class="icon-play">
          <use href="../img/icons.svg#icon-play"></use>
        </svg>
        <iframe
          id="video"
          src="https://www.youtube.com/embed/DISjdfkSjc8"
          allowfullscreen
          style="display: none; border: none"
        ></iframe>
      </div>
      <div class="how-its-made-text-container">
        <p class="how-its-made-description">
          Try our chocolates today and discover the perfect balance of flavor
        </p>
        <ul class="how-its-made-text-list">
          <li class="how-its-made-text-item">
            <p class="how-its-made-text">
              Heat the milk in a saucepan without bringing it to a boil. Add
              sugar and cocoa powder.
            </p>
          </li>
          <li class="how-its-made-text-item">
            <p class="how-its-made-text">
              At the same time, prepare a water bath. Melt the butter on it.
            </p>
          </li>
          <li class="how-its-made-text-item">
            <p class="how-its-made-text">
              "Mix" the milk mixture and already liquid butter. Mix thoroughly
              with a silicone spatula so that the mass becomes uniform and
              silky.
            </p>
          </li>
          <li class="how-its-made-text-item">
            <p class="how-its-made-text">
              Heat the mixture over low heat, letting it barely boil.
            </p>
          </li>
          <li class="how-its-made-text-item">
            <p class="how-its-made-text">
              Pour the chocolate into special containers (can be replaced with
              ice molds). Allow to cool and harden.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
