<section class="products section">
  <div class="container">
    <h2 class="products__title title">
      Our <span class="title-decor">products</span>
    </h2>
    <div class="swiper product-swiper">
      <ul class="swiper-wrapper product-swiper-wrapper">
        <li class="product swiper-slide">
          <div class="product-wrapper">
            <img
              class="product-wrapper__img"
              srcset="
                ./img/common/our-products/chocolate-1.webp    1x,
                ./img/common/our-products/chocolate-1@2x.webp 2x
              "
              src="./img/common/our-products/chocolate-1.jpg"
              alt="Our chocolate"
            />
            <h3 class="product-wrapper__title">orange</h3>
            <p class="product-wrapper__text">Dark chocolate</p>
            <button class="product-wrapper__btn">45 UAH</button>
          </div>
        </li>
        <li class="product swiper-slide">
          <div class="product-wrapper">
            <img
              class="product-wrapper__img"
              srcset="
                ./img/common/our-products/chocolate-2.webp    1x,
                ./img/common/our-products/chocolate-2@2x.webp 2x
              "
              src="./img/common/our-products/chocolate-2.jpg"
              alt="Our chocolate"
            />
            <h3 class="product-wrapper__title">APPLE&CRANBERRY</h3>
            <p class="product-wrapper__text">Milk chocolate</p>
            <button class="product-wrapper__btn">50 UAH</button>
          </div>
        </li>
        <li class="product swiper-slide">
          <div class="product-wrapper">
            <img
              class="product-wrapper__img"
              srcset="
                ./img/common/our-products/chocolate-3.webp    1x,
                ./img/common/our-products/chocolate-3@2x.webp 2x
              "
              src="./img/common/our-products/chocolate-3.jpg"
              alt="Our chocolate"
            />
            <h3 class="product-wrapper__title">lime&sea salt</h3>
            <p class="product-wrapper__text">Dark chocolate</p>
            <button class="product-wrapper__btn">66 UAH</button>
          </div>
        </li>
        <li class="product swiper-slide">
          <div class="product-wrapper">
            <img
              class="product-wrapper__img"
              srcset="
                ./img/common/our-products/chocolate-4.webp    1x,
                ./img/common/our-products/chocolate-4@2x.webp 2x
              "
              src="./img/common/our-products/chocolate-4.jpg"
              alt="Our chocolate"
            />
            <h3 class="product-wrapper__title">pineapple</h3>
            <p class="product-wrapper__text">Dark chocolate</p>
            <button class="product-wrapper__btn">54 UAH</button>
          </div>
        </li>
        <li class="product swiper-slide">
          <div class="product-wrapper">
            <img
              class="product-wrapper__img"
              srcset="
                ./img/common/our-products/chocolate-5.webp    1x,
                ./img/common/our-products/chocolate-5@2x.webp 2x
              "
              src="./img/common/our-products/chocolate-5.jpg"
              alt="Our chocolate"
            />
            <h3 class="product-wrapper__title">Classic</h3>
            <p class="product-wrapper__text">Milk chocolate</p>
            <button class="product-wrapper__btn">45 UAH</button>
          </div>
        </li>
        <li class="product swiper-slide">
          <div class="product-wrapper">
            <img
              class="product-wrapper__img"
              srcset="
                ./img/common/our-products/chocolate-6.webp    1x,
                ./img/common/our-products/chocolate-6@2x.webp 2x
              "
              src="./img/common/our-products/chocolate-6.jpg"
              alt="Our chocolate"
            />
            <h3 class="product-wrapper__title">honey</h3>
            <p class="product-wrapper__text">Milk chocolate</p>
            <button class="product-wrapper__btn">50 UAH</button>
          </div>
        </li>
        <li class="product swiper-slide">
          <div class="product-wrapper">
            <img
              class="product-wrapper__img"
              srcset="
                ./img/common/our-products/chocolate-7.webp    1x,
                ./img/common/our-products/chocolate-7@2x.webp 2x
              "
              src="./img/common/our-products/chocolate-7.jpg"
              alt="Our chocolate"
            />
            <h3 class="product-wrapper__title">Roasted fruits</h3>
            <p class="product-wrapper__text">Dark chocolate</p>
            <button class="product-wrapper__btn">66 UAH</button>
          </div>
        </li>
        <li class="product swiper-slide">
          <div class="product-wrapper">
            <img
              class="product-wrapper__img"
              srcset="
                ./img/common/our-products/chocolate-8.webp    1x,
                ./img/common/our-products/chocolate-8@2x.webp 2x
              "
              src="./img/common/our-products/chocolate-8.jpg"
              alt="Our chocolate"
            />
            <h3 class="product-wrapper__title">Classic</h3>
            <p class="product-wrapper__text">White chocolate</p>
            <button class="product-wrapper__btn">54 UAH</button>
          </div>
        </li>
      </ul>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
