<section class="products section">
  <div class="container">
    <h2 class="title"><span class="title-decor">chocolate</span> is loved</h2>
    <div class="swiper-rew review-swiper-padding">
      <ul class="swiper-wrapper review-swiper-wrapper">
        <li class="review swiper-slide">
          <div class="review-card">
            <img
              class="reviews-card-img"
              srcset="
                ./img/reviews/victoria-dobrzhanska/victoria.jpg    1x,
                ./img/reviews/victoria-dobrzhanska/victoria@2x.jpg 2x,
                ./img/reviews/victoria-dobrzhanska/victoria@3x.jpg 3x
              "
              src="./img/reviews/victoria-dobrzhanska/victoria.jpg"
              alt="Victoria Dobrzhanska"
            />
            <h3 class="reviews-card-title">Victoria Dobrzhanska</h3>
            <p class="reviews-card-text">
              I love this chocolate bar. Perfect combination of light crispy
              wafer, covered in a thin layer chocolate.
            </p>
          </div>
        </li>
        <li class="review swiper-slide">
          <div class="review-card">
            <img
              class="reviews-card-img"
              srcset="
                ./img/reviews/nazar-babenko/nazar.jpg    1x,
                ./img/reviews/nazar-babenko/nazar@2x.jpg 2x,
                ./img/reviews/nazar-babenko/nazar@3x.jpg 3x
              "
              src="./img/reviews/nazar-babenko/nazar.jpg"
              alt="Nazar Babenko"
            />
            <h3 class="reviews-card-title">Nazar Babenko</h3>
            <p class="reviews-card-text">
              This chocolate confection is a delight! A delight! The wafer is
              light and crisp, the hazelnut cream is smooth, and the chocolate
              is good.
            </p>
          </div>
        </li>
        <li class="review swiper-slide">
          <div class="review-card">
            <img
              class="reviews-card-img"
              srcset="
                ./img/reviews/olena-kampusch/olena.jpg    1x,
                ./img/reviews/olena-kampusch/olena@2x.jpg 2x,
                ./img/reviews/olena-kampusch/olena@3x.jpg 3x
              "
              src="./img/reviews/olena-kampusch/olena.jpg"
              alt="Olena Kampusch"
            />
            <h3 class="reviews-card-title">Olena Kampusch</h3>
            <p class="reviews-card-text">
              Chocolate is a family favourite treat. Love the delicious smooth
              chocolate and the creaminess inside. The wafer is soft but
              crunchy.
            </p>
          </div>
        </li>

        <li class="review swiper-slide">
          <div class="review-card">
            <img
              class="reviews-card-img"
              srcset="
                ./img/reviews/natalia-sus/natalia.jpg    1x,
                ./img/reviews/natalia-sus/natalia@2x.jpg 2x,
                ./img/reviews/natalia-sus/natalia@3x.jpg 3x
              "
              src="./img/reviews/natalia-sus/natalia.jpg"
              alt="Natalia Sus"
            />
            <h3 class="reviews-card-title">Natalia Sus</h3>
            <p class="reviews-card-text">
              The chocolate assortment was delicious. Both dark and milk
              chocolate pieces were smooth and just right on the sweetness
              level.
            </p>
          </div>
        </li>

        <li class="review swiper-slide">
          <div class="review-card">
            <img
              class="reviews-card-img"
              srcset="
                ./img/reviews/danilo-nottingham/danilo.jpg    1x,
                ./img/reviews/danilo-nottingham/danilo@2x.jpg 2x,
                ./img/reviews/danilo-nottingham/danilo@3x.jpg 3x
              "
              src="./img/reviews/danilo-nottingham/danilo.jpg"
              alt="Danilo Nottingham"
            />
            <h3 class="reviews-card-title">Danilo Nottingham</h3>
            <p class="reviews-card-text">
              This is delicious. It so rich and flavorful you don’t need to use
              as many. I love topping an apple with almond butter and these
              chips for a snack.
            </p>
          </div>
        </li>

        <li class="review swiper-slide">
          <div class="review-card">
            <img
              class="reviews-card-img"
              srcset="
                ./img/reviews/irina-tydnyuk/irina.jpg    1x,
                ./img/reviews/irina-tydnyuk/irina@2x.jpg 2x,
                ./img/reviews/irina-tydnyuk/irina@3x.jpg 3x
              "
              src="./img/reviews/irina-tydnyuk/irina.jpg"
              alt="Irina Tydnyuk"
            />
            <h3 class="reviews-card-title">Irina Tydnyuk</h3>
            <p class="reviews-card-text">
              This is simply the best chocolate around, and I'm just thrilled to
              support a local company! Best local chocolate - world class :)
            </p>
          </div>
        </li>
      </ul>

      <!-- If we need pagination -->
      <div class="swiper-pagination-review"></div>
      <a href="#" class="js-open-modal" data-modal="1">Открыть окно 1</a>
      <button type="button" class="review-btn review-btn-font">
        Leave a review
      </button>
    </div>
  </div>
</section>
