<section class="subscribe section">
  <div class="container">
    <h2 class="sub-title">EXPLORE OUR NEW CHOCOLATE FIRST</h2>
    <p class="sub-p">
      From the velvety texture to the rich and complex flavor, our New Chocolate
      is a true indulgence that will leave you craving more. Made with only the
      finest ingredients and handcrafted with the utmost care, each piece is a
      work of art that is sure to please.
    </p>
    <div class="sub-btn-div">
      <button class="sub-btn" .js-open-modal>Subscribe</button>
    </div>
  </div>
</section>

<div class="sub-modal is-hidden" .js-overlay-modal>
  <button type="button" class="sub-modal-btn" .js-modal-close></button>
  <div class="sub-modal-photo"></div>
  <h2 class="sub-modal-h2">
    EXPLORE OUR <br />
    <span class="sub-modal-span">NEW CHOCOLATE</span> FIRST!
  </h2>
  <div class="form-field">
    <div class="pos-form-icon">
      <input
        type="email"
        name="Email"
        id="Email"
        placeholder="Enter your email"
        class="form-input"
      />
      <button type="button" class="coco-btn">Submit</button>
    </div>
  </div>
</div>
