<section class="section">
  <div class="container">
    <h2 class="title"><span class="title-decor">Top </span>Sellers</h2>
    <div>
      <ul class="sellers-list">
        <li class="sellers-item">
          <div class="sellers-content">
            <picture>
              <source
                srcset="
                  ../img/top-sellers/coffe-nuts-desktop.webp    1x,
                  ../img/top-sellers/coffe-nuts-desktop@2x.webp 2x
                "
                media="(min-width: 1200px)"
                type="image/webp"
              />
              <source
                srcset="
                  ../img/top-sellers/coffe-nuts-desktop.jpg    1x,
                  ../img/top-sellers/coffe-nuts-desktop@2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ../img/top-sellers/coffe-nuts-tablet.webp    1x,
                  ../img/top-sellers/coffe-nuts-tablet@2x.webp 2x
                "
                media="(min-width: 768px) and (max-width: 1199px)"
                type="image/webp"
              />
              <source
                srcset="
                  ../img/top-sellers/coffe-nuts-tablet.jpg    1x,
                  ../img/top-sellers/coffe-nuts-tablet@2x.jpg 2x
                "
                media="(min-width: 768px) and (max-width: 1199px)"
              />
              <source
                srcset="
                  ../img/top-sellers/coffe-nuts-mobile.webp    1x,
                  ../img/top-sellers/coffe-nuts-mobile@2x.webp 2x
                "
                media="(max-width: 767px)"
                type="image/webp"
              />
              <source
                srcset="
                  ../img/top-sellers/coffe-nuts-mobile.jpg    1x,
                  ../img/top-sellers/coffe-nuts-mobile@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="sellers-img"
                src="../img/top-sellers/coffe-nuts.jpg"
                alt="Chocolate with coffe and nuts"
                width="368"
                height="464"
              />
            </picture>
            <p class="sellers-text sellers-words">
              Crazy enough chocolate originates from a bean just like the coffee
              bean called Cacao. Cacao has been around for thousands of years
              and was first discovered by the Native American tribe called the
              Mayans.
            </p>
          </div>
        </li>
        <li class="sellers-item">
          <div class="sellers-content sellers-but">
            <picture>
              <source
                srcset="
                  ../img/top-sellers/chokolate-fruit-desktop.webp    1x,
                  ../img/top-sellers/chokolate-fruit-desktop@2x.webp 2x
                "
                media="(min-width: 1200px)"
                type="image/webp"
              />
              <source
                srcset="
                  ../img/top-sellers/chokolate-fruit-desktop.jpg    1x,
                  ../img/top-sellers/chokolate-fruit-desktop@2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ../img/top-sellers/chokolate-fruit-tablet.webp    1x,
                  ../img/top-sellers/chokolate-fruit-tablet@2x.webp 2x
                "
                media="(min-width: 768px) and (max-width: 1199px)"
                type="image/webp"
              />
              <source
                srcset="
                  ../img/top-sellers/chokolate-fruit-tablet.jpg    1x,
                  ../img/top-sellers/chokolate-fruit-tablet@2x.jpg 2x
                "
                media="(min-width: 768px) and (max-width: 1199px)"
              />
              <source
                srcset="
                  ../img/top-sellers/chokolate-fruit-mobile.webp    1x,
                  ../img/top-sellers/chokolate-fruit-mobile@2x.webp 2x
                "
                media="(max-width: 767px)"
                type="image/webp"
              />
              <source
                srcset="
                  ../img/top-sellers/chokolate-fruit-mobile.jpg    1x,
                  ../img/top-sellers/chokolate-fruit-mobile@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="sellers-img"
                src="../img/top-sellers/chokolate-fruit.jpg"
                alt="Chocolate with fruit"
                width="368"
                height="464"
              />
            </picture>
            <button type="button" class="sellers-button sellers-words">
              Buy now
            </button>
          </div>
        </li>
        <li class="sellers-item">
          <picture>
            <source
              srcset="
                ../img/top-sellers/chokolate-desktop.webp    1x,
                ../img/top-sellers/chokolate-desktop@2x.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ../img/top-sellers/chokolate-desktop.jpg    1x,
                ../img/top-sellers/chokolate-desktop@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              class="sellers-img"
              src="../img/top-sellers/chokolate.jpg"
              alt="Different chocolate"
              width="368"
              height="464"
            />
          </picture>
        </li>
      </ul>
      <div class="sellers-box hidden">
        <p class="sellers-text">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
        <button type="button" class="sellers-button">Buy now</button>
      </div>
    </div>
  </div>
</section>
