.advantages {
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: var(--secondary-background-color);
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}

.advantages__item {
  max-width: 308px;
  color: rgba(255, 255, 255, 0.7);
}

.advantages-item__box {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
  border: 1px solid rgba(255, 255, 255, 0.5);

  border-radius: 50%;
}

.advantages-item__title {
  margin-bottom: 18px;

  font-weight: 600;
  font-size: 18px;
  color: var(--white-color);
}

.advantages-item__text {
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .advantages {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .advantages__list {
    column-gap: 60px;
    row-gap: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__list {
    max-width: 1100px;
    margin: 0 auto;
    gap: 70px;
  }
  .advantages__item {
    position: relative;
  }
  .advantages__item:not(:last-child) {
    max-width: 326px;
    padding-right: 18px;
  }
  .advantages__item:not(:last-child):after {
    content: '';
    position: absolute;
    display: block;
    width: 124px;
    height: 0px;
    top: 110px;
    right: -60px;
    border: 1px solid rgba(255, 255, 255, 0.5);

    transform: rotate(90deg);
  }
}
