:root {
  --primary-font-family: 'Montserrat', sans-serif;
  --secondary-font-family: 'Roboto', sans-serif;

  --primary-text-color: #111111;
  --primary-background-color: #fafafa;
  --accent-color: #fd9222;
  --white-color: #ffffff;
}

body {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

.container {
  width: 100%;
  padding: 0 10px;
}

.section {
  padding-top: 72px;
}

.title {
  margin-bottom: 32px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
}

.title-decor {
  color: var(--accent-color);
}

.primary-button {
  border-radius: 100px;
  border: none;
  font-weight: 600;
  color: var(--white-color);
  background-color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 375px) {
  .container {
    width: 355px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 736px;
    padding: 0 16px;
  }
  .title {
    margin-bottom: 50px;

    font-size: 24px;
    line-height: 1.17;
  }
  .section {
    padding-top: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1168px;
  }
  .section {
    padding-top: 128px;
  }
}
