.footer {
  padding: 32px 0;
  background-color: var(--secondary-background-color);
  color: var(--white-color);
}

.footer-top {
  padding-bottom: 32px;
  margin-bottom: 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-title {
  max-width: 300px;
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
}

.footer-address {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  font-style: normal;
}

.footer-address-text {
  margin-bottom: 14px;

  font-weight: 500;
}

.footer-contacts-item {
  font-weight: 400;
}

.footer-contacts-item:hover .footer-contacts-link,
.footer-contacts-item:focus .footer-contacts-link {
  color: var(--accent-color);
}

.footer-contacts-item + .footer-contacts-item {
  margin-top: 4px;
}

.footer-contacts-link,
.footer-nav-link {
  transition: color var(--duration) var(--time-function);
}

.footer-social-list {
  display: flex;
  gap: 14px;
}

.footer-social-item:hover .footer-social-icon,
.footer-social-item:focus .footer-social-icon {
  fill: var(--accent-color);
  transform: rotate(360deg);
}

.footer-social-icon {
  fill: var(--white-color);

  transition: fill 1s var(--time-function), transform 1s var(--time-function);
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 18px;

  font-weight: 500;
}

.footer-nav-item:hover .footer-nav-link,
.footer-nav-item:focus .footer-nav-link {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 50px 0;
  }
  .footer-top {
    display: flex;
    margin-bottom: 24px;
    padding-bottom: 50px;
  }
  .footer-title {
    margin-bottom: 0;

    font-size: 28px;
  }
  .footer-address {
    gap: 50px;
    margin-left: auto;
  }
  .footer-social-list {
    gap: 19px;
  }
  .footer-nav {
    flex-direction: row;
    gap: 24px;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-top {
    padding-bottom: 58px;
  }
  .footer-address {
    gap: 64px;
  }
}
