.footer {
  background-color: #1e1823;
  padding-top: 32px;
  padding-bottom: 32px;
}
.icon {
  fill: var(--white-color);
}
.footer-top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  justify-content: start;
  align-items: center;
  color: var(--accent-color);
  max-width: 252px;
}
.footer-title span {
  color: var(--white-color);
}
.item {
  text-decoration: none;
}
.address {
  color: var(--white-color);
}
.contacts {
  gap: 4px;
}
.nav {
  color: var(--white-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.footer-contact {
  color: var(--white-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 14px;
}
.contacts-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29x;
}
.second-div {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-between;
  width: 100%;
  margin-top: 32px;
  /* max-width: 300px; */
  align-items: start;
  padding-bottom: 32px;
}
.social-media {
  display: flex;
  gap: 14px;
}
.third-div {
  margin-top: 32px;
}
.nav {
  gap: 18px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .second-div {
    display: flex;
    align-items: start;
    gap: 50px;
    margin-top: 0;
    max-width: 300px;
    flex-direction: row;
    margin-left: auto;
    justify-content: start;
    width: auto;
    padding-bottom: 50px;
  }
  .third-div {
    margin-top: 24px;
  }
  .nav {
    flex-direction: row;
    gap: 24px;
    align-items: flex-start;
  }
  .footer-title {
    font-size: 28px;
    line-height: 1.2;
    max-width: 300px;
  }
  .footer-top {
    display: flex;
  }
}
