.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: var(--primary-background-color);
}

.header-navigation {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  padding: 24px 0 32px 0;
  gap: 4px;
}

.logo-text {
  font-weight: 700;
  letter-spacing: -0.03em;
  font-style: italic;
  text-transform: uppercase;
}

.logo-decor {
  font-style: normal;
}

.header-navigation__list {
  display: none;
  font-weight: 500;
}

.header-navigation__item:hover .header-navigation__link,
.header-navigation__item:focus .header-navigation__link {
  color: var(--accent-color);
}

.header-navigation__link {
  position: relative;
  display: inline-block;
  padding: 15px 0;

  font-weight: 500;
  line-height: 1.14;

  transition: color var(--duration) var(--time-function);
}

.header-navigation__link::after {
  content: '';
  position: absolute;
  bottom: 3px;
  display: block;
  width: 100%;
  height: 2px;

  background-color: var(--accent-color);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform var(--duration) var(--time-function);
}

.header-navigation__link:hover::after {
  transform: scaleX(100%);
}

.header-social__list {
  display: none;
  gap: 20px;
  align-items: center;
}

.header-social__item:hover .header-social__icon,
.header-social__item:focus .header-social__icon {
  fill: var(--accent-color);
  transform: rotate(360deg);
}

.header-social__icon {
  fill: var(--primary-text-color);

  transition: fill 1s var(--time-function), transform 1s var(--time-function);
}

.js-open-menu {
  margin-left: auto;

  border: none;
  background-color: transparent;
}

.js-menu-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  width: 220px;
  max-height: 812px;

  background-color: var(--secondary-background-color);

  transform: translateX(100%);
  transition: transform 800ms var(--time-function);
}

.js-menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu {
  padding: 136px 30px 23px 50px;
}

.js-close-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 28px;
  height: 28px;

  background-color: transparent;
  border: none;
}

.modal-icon {
  fill: var(--white-color);

  transition: fill var(--duration) var(--time-function);
}

.js-close-menu:hover .modal-icon,
.js-close-menu:focus .modal-icon {
  fill: var(--accent-color);
}

.mobile-menu .header-navigation__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  color: var(--white-color);
}

.mobile-menu .header-social__list {
  position: absolute;
  left: 32px;
  bottom: 24px;
  display: flex;
}

.mobile-menu .header-social__icon {
  fill: var(--white-color);
}

@media screen and (min-width: 768px) {
  .js-menu-container {
    width: 290px;
    max-height: 1024px;
  }
  .mobile-menu {
    padding: 156px 40px 23px 85px;
  }
  .js-close-menu {
    top: 24px;
    right: 32px;
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-text {
    font-size: 18px;
    line-height: 1.11;
  }
  .header-navigation__list {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: auto;
    margin-right: 137px;
  }
  .header-social__list {
    display: flex;
  }
  .js-open-menu,
  .js-menu-container {
    display: none;
  }
}
