li {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@media(max-width:1199px) {
    .header-container {
        padding-top: 31px;
        padding-bottom: 31px;
    }
}

@media(min-width:1200px) {
    .header-container {
        padding-top: 26px;
        padding-bottom: 34px;
    }
}

@media(max-width:1199px) {
    .logo-one {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.28;
        letter-spacing: -0.03em;
        font-style: italic;
        font-weight: bold;
        text-transform: uppercase;
        color: var(--primary-text-color);
    }
}


@media(min-width:1200px) {
    .logo-one {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.111;
        letter-spacing: -0.03em;
        font-style: italic;
        font-weight: bold;
        text-transform: uppercase;
        color: var(--primary-text-color);
    }
}

@media(max-width:1199px) {
    .logo-two {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.28;
        letter-spacing: -0.03em;
        font-style: italic;
        font-weight: bold;
        text-transform: uppercase;
        color: var(--primary-text-color);
    }
}

@media(min-width: 1200px) {
    .logo-two {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.111;
        letter-spacing: -0.03em;
        font-style: bold;
        text-transform: uppercase;
        color: var(--primary-text-color);
    }
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: var(--primary-text-color);
}

.header-nav {
    display: flex;
    align-items: center;
  margin-left: auto;
  margin-right: 137px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header-social-block {
    display: flex;
    align-items: center;
    gap: 21px;
}

@media (max-width: 1199px) {
    .navilinks {
        display: none;

    }
}

@media (max-width: 1199px) {
    .header-social-box {
        display: none;

    }
}

@media (min-width: 1200px) {
    .burger {
        display: none;
    }
}

.menu {
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 220px;
    height: 812px;
    background-color: var(--color-withlight);
    transform: translateX(100%);
    padding: 136px 0 23px 50px;
    transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);


}

.menu.is-open {
    transform: translateX(0);
}

.js-open-menu {
    border: none;
    background-color: white;
}