.main-container {
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
}
@media screen and (max-width: 428px){
  .main-container{
    padding-right: 16px;
    padding-left: 20px;
    width: 100% ;

  }
}
.hero-section {
  background: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(/img/common/hero/chocolate-covered-cocoa-powder\ 3.jpg);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  max-width: 1136px;
  height: 600px;
  border-radius: 30px;
}
@media screen and (min-width: 428px) {
  .container {
    padding: 0 0px;
  }
}
@media screen and(min-width: 768px) {
  .container {
    padding-bottom: 96px;
    padding-top: 96px;
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section {
    background: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../img/common/hero/chocolate-covered-cocoa-powder\ 3.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 30px;
  }
}
@media screen and (min-width: 428px) {
  .hero-section {
    background: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../img/common/hero/chocolate-covered-cocoa-powder\ 3.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
  }
}
@media screen and (min-width: 768px) {
  .hero-section {
    background: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(/img/common/hero/chocolate-covered-cocoa-powder\ 2.jpg);
    max-width: 809px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .hero-section {
    background: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(/img/common/hero/chocolate-covered-cocoa-powder\ 1.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    max-width: 1136px;
    height: 600px;
    border-radius: 30px;
  }
}

/* ---------fonts---------- */

.hero-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.03em;
  color: #ffffff;
  padding-top: 381px;
  margin-bottom: 32px;
  max-width: 484px;
}
@media screen and (max-width: 1200px) {
  .hero-text {
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
  }
}
@media screen and (max-width: 768px) {
  .hero-text {
    font-weight: 500;
    font-size: 28px;
    line-height: 18px;
    letter-spacing: -0.03em;
    color: #ffffff;
    max-width: 484px;
  }
}
@media screen and (max-width: 428px) {
  .hero-text {
    letter-spacing: -0.03em;
    padding-top: 395px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
}
.scroll-down-text{
  color:white;

}
/* ---------fonts---------- */

/* ---------buttons---------- */

.button-list {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
}

@media screen and (max-width: 428px) {
  .buy-button {
    padding: 12px 28px;
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .buy-button {
    width: 144px;
    height: 45px;
  }
}
  .buy-button {
    flex-direction: row;
    align-items: flex-start;
    gap: 14px;
    background: #fd9222;
    border-radius: 100px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    border: none;
    width: auto;
    width: 144px;
    height: 45px;
  }

.buy-button:hover,
.buy-button:focus {
  background: #fcf1e0;
  border-radius: 100px;
  color: #fd9222;
}
@media screen and (max-width: 428px){
  .how-its-made-button{
    padding: 12px 28px;
    
  }
}
.how-its-made-button {
  padding: 14px 40px;
  border: 1px solid #ffffff;
  border-radius: 100px;
  background: rgba(0, 0, 0, 0);
  color: #ffffff;
}
.how-its-made-button:hover,
.how-its-made-button:focus {
  color: #fd9222;
  background-color: #e2e2e2;
}
.scroll-place {
  display: flex;
  gap: 14px;
  margin-left: auto;
  margin-top: 39px;
  align-items: center;
}



.scroll-place:hover,
.scroll-place:focus {
  color:
}
.scroll-button:hover {
  background-color: #fd9222;
}
.button-item {
  margin-left: auto;
}

.scroll-button {
  border-radius: 50%;
  border: none;
  width: 38px;
  height: 38px;
  background: #ffffff;
}

/* ---------buttons---------- */
