@media screen and (min-width: 428px) {
  .container {
    width: 396px;
    padding: 0 0px;
  }
}
@media screen and(min-width: 768px) {
  .container {
    padding-bottom: 96px;
    padding-top: 96px;
  }
}

.hero-section {
  background: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(/img/common/hero/chocolate-covered-cocoa-powder\ 1.jpg);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  width: 1136px;
  height: 600px;
  border-radius: 30px;
}
@media screen and(min-width: 428px) {
  .hero-section {
    background: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../img/common/hero/chocolate-covered-cocoa-powder\ 3.jpg);
  }
}
@media screen and(min-width: 768px) {
  .hero-section {
    background: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(/img/common/hero/chocolate-covered-cocoa-powder\ 2.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-section {
    background: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(/img/common/hero/chocolate-covered-cocoa-powder\ 1.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 1136px;
    height: 600px;
    border-radius: 30px;
  }
}
/* ---------fonts---------- */

.hero-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.03em;
  color: #ffffff;
  padding-top: 381px;
  padding-left: 40px;
  margin-bottom: 32px;
  max-width: 484px;
}

.scroll-down-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
  color: #ffffff;
}
/* ---------fonts---------- */

/* ---------buttons---------- */

.button-list {
  display: flex;
  gap: 14px;
  padding-left: 40px;
}
.buy-button {
  flex-direction: row;
  align-items: flex-start;
  padding: 14px 40px;
  gap: 14px;
  background: #fd9222;
  border-radius: 100px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  border: none;
}
.buy-button:hover,
.buy-button:focus {
  background: #fcf1e0;
  border-radius: 100px;
  color: #fd9222;
}
.how-its-made-button {
  padding: 14px 40px;
  border: 1px solid #ffffff;
  border-radius: 100px;
  background: rgba(0, 0, 0, 0);
  color: #ffffff;
}
.how-its-made-button:hover,
.how-its-made-button:focus {
  color: #fd9222;
  background-color: #e2e2e2;
}
.scroll-place {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-left: 585px;
}

.scroll-button {
  border-radius: 50%;
  border: none;
  width: 38px;
  height: 38px;
  background: #ffffff;
}

/* ---------buttons---------- */
