.review-section {
  padding-bottom: 72px;
}

.review-swiper-wrapper {
  margin-top: 42px;
}

.review-card {
  padding: 56px 18px 24px;
  height: 200px;
  text-align: center;
}

.reviews-card-title {
  margin-bottom: 24px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}

.reviews-card-text {
  color: rgba(17, 17, 17, 0.7);
}

.reviews-card-img {
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}

.review-swiper-padding {
  overflow: hidden;
}

.review-swiper-wrapper {
  display: flex;
  padding-bottom: 20px;
}

.review {
  position: relative;
  max-width: 360px;
  border: 1px solid rgba(17, 17, 17, 0.1);

  background: var(--white-color);
  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
}

.review-btn {
  display: block;
  margin: 50px auto 0;
  padding: 14px 40px;
  border: 1px solid var(--accent-color);

  border-radius: 100px;
  background-color: var(--primary-background-color);
  font-weight: 600;

  transition: color var(--duration) var(--time-function),
    background-color var(--duration) var(--time-function),
    border-color var(--duration) var(--time-function);
}

.review-btn:hover,
.review-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

@media screen and (min-width: 375px) {
  .review {
    max-width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .review {
    max-width: 360px;
  }
  .review-section {
    padding-bottom: 100px;
  }
  .review-swiper-wrapper {
    padding-bottom: 31px;
  }
  .review-btn {
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px) {
  .review-section {
    padding-bottom: 128px;
  }
}
