/*
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./slick.css');
@import url('./reset.css');
@import url('./base.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./advantages.css');
@import url('./components.css');
@import url('./how-made.css');
@import url('./our-products.css');
@import url('./top-sellers.css');
@import url('./reviews.css');
@import url('./subscribe.css');
@import url('./footer.css');
@import url('./modals.css');
@import url('./buy-now-modal.css');
@import url('./review-modal.css');
@import url('./explore-modal.css');
