.sellers {
}
.container {
}
.sellers-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #fd9222;
  text-align: center;
}
.title-sellers {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #111111;
}
